
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: url(https://img.freepik.com/free-vector/pastel-letter-wallpaper-pattern-vector_53876-173023.jpg?size=626&ext=jpg&ga=GA1.1.569881281.1722606447&semt=ais_hybrid) no-repeat center center / cover;
    overflow: hidden;
    width:100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
}

.text-editor-header {
    border-bottom: 1px solid #dee2e6;
    background-color: #AAD7D9 !important;
}

.text-editor-header .btn {
    border: none;
    background: none;
    color: #495057;
    font-size: 1.1rem;
}

.text-editor-header .btn:hover {
    color: #024aff;
}
.card{
    border: 1px solid #024aff !important;
}
.content {
    min-height: 300px;
    padding: 15px;
    border: 1px solid #dee2e6 !important;
    border-top: none;
    background-color: #ffffff !important;
    overflow-y: auto;
    font-family:"Noto Serif", serif;
}

.content:focus {
    outline: none;
    box-shadow: inset 0 0 5px rgba(13, 110, 253, 0.5);
}
.content[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    color: gray;
    pointer-events: none;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
